@page "/todolocal"

<PageTitle>Todo : Local Storage</PageTitle>

<h1>Todo : Local Storage</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
