@page "/todolocal"


<PageTitle>Todo : Local Storage</PageTitle>

<h1>Todo : Local Storage</h1>

@foreach (var item in todoItems)
{
    <li>@item.Title</li>
}
<h2>Add New Todo:</h2>
<input placeholder="Something todo" @bind="newTodo"  />
<button @onclick="AddTodo">Add todo</button>

@code {
    private string? newTodo;
    private List<TodoItem> todoItems = new List<TodoItem>();

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todoItems.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
